<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action= {% url 'register'%} method="POST" novalidate >
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
    </form>
</body>
</html>


{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}
{% comment %} Let's just say this is ep 39's project  {% endcomment %}