



/* .navbar ul {
  list-style-type: none;
  color: white;
  padding: 0px;
}

.navbar {
  background-color: rgb(163, 159, 159);
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.navigation {
  margin: 0px;
  justify-content: right;
}

.navdiv {
  align-items: flex-end;
  justify-content: flex-end;
  margin: 10px;
} */
